:root {
    --background-color: rgb(20, 20, 20);
    --logo-color: rgb(179, 179, 179);
    --block-color: rgb(36, 36, 36);
    --font-size: 16px;
    --padding-20: 20px;
    --font-weight-700: 700;
    --topPlay : 136px;
    --opacityPlay : 0;
}

.arrow {
    background-color: black;
    padding: 8px;
    border-radius: 50%;
    cursor: no-drop;
}

.left-right-arrow {
    gap: 10px;
    text-align: center;
    align-items: center;
}

.signup {
    border: none;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    color: var(--logo-color);
    transition: transform 0.3s;
}

.login {
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 16px;
    transition: transform 0.3s;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
    background-color: rgb(15, 15, 15);
    position: sticky;
    top : -1px;
    z-index: 1;
}

.log-sign {
    gap: 20px;
}

.signup:hover {
    transform: scale(1.05);
    color: white;
    border: none;
}

.login:hover {
    transform: scale(1.05);
}

.heads {
    font-size: 28px;
    font-weight: var(--font-weight-700);
    padding: 35px 15px;
}

@media only screen and (max-width : 430px) {
    .login, .signup{
        font-size: 14px;
        padding: 10px 20px;
    }
    .log-sign{
        gap: 10px;
    }
    .heads{
        font-size: 24px;
        padding: 20px 10px;
    }
}

@media only screen and (max-width : 375px) {
    .log-sign{
        gap: 5px;
    }
}

@media only screen and (max-width : 355px) {
    .log-sign{
        gap: 5px;
    }
    .login, .signup{
        font-size: 12px;
        padding: 5px 10px;
    }
}


@media only screen and (max-width : 315px) {
    .heads{
        padding: 15px 5px;
    }
}

.line:hover {
    background-color: var(--block-color);
}

.card {
    padding: 10px;
    position: relative;
    color: white;
    border-radius: 15px;
    width: 150px;
}

.card img {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
    
}

.album-playlist-name {
    font-size: 16px;
    padding: 10px;
    color: white;
    text-align: left;
}

.discription {
    font-size: 14px;
    font-weight: 400;
    color: var(--logo-color);
    padding: 5px 10px;
    text-align: left;
}

.album-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 10px;
}

@media only screen and (min-width : 1650px){
    .album-container{
        display: flex;
        gap: 25px;
    }
}

@media only screen and (max-width: 1370px) {
    .album-container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 890px) {
    .album-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 715px) {
    .album-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 540px) {
    .album-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 350px) {
    .album-container, .artist-container{
        padding: 0px;
    }
    .artist-container .card{
        width: 120px;
    }
    .album-container .card{
        width: 120px;
    }
    .artist-container .card button img{
        width: 120px;
        height: 120px;
    }
}

.playButtonAlbum {
    position: absolute;
    top: var(--topPlay);
    left: 103px;
    padding: 9px 13px;
    padding-top: 12px;
    border-radius: 50%;
    background-color: #1fdf64;
    width: max-content;
    justify-content: center;
    align-items: center;
    opacity: var(--opacityPlay);
    box-shadow: 0px 0px 10px var(--background-color);
    transition: all 0.5s cubic-bezier(0, 0, 0, 0.99);
}

.album-container .card:hover{
    --opacityPlay : 1;
    --topPlay : 106px;
}

.company {
    grid-area: Company;
}

.artist-container .card img {
    border-radius: 150px;
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.card:hover{
    background-color: var(--block-color);
}

.playlist {
    flex-direction: column;
    gap: 10px;
    overflow: auto;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0px 10px;
}

.info-library {
    display: grid;
    grid-template-areas: "info-img song-name"
    "info-img artist-name";
    align-items: center;
}

.count-name {
    align-items: center;
    gap: 20px;
}

.count {
    color: var(--logo-color);
    font-size: 20px;
    width: 38px;
}

.nameSong {
    align-self: flex-end;
    padding: 5px 20px;
    font-size: 16px;
    color: white;
    text-align: left;
    justify-self: flex-start;
}

.artist {
    align-self: flex-start;
    font-size: 14px;
    font-weight: 400;
    color: var(--logo-color);
    padding: 5px 20px;
    text-align: left;
}

.song-name {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 10px;
    align-items: center;
}

.play {
    grid-area: play;
}

.song-name:hover {
    background-color: var(--block-color);
}

@media only screen and (max-width : 540px) {
    .count{
        font-size: 16px;
        width: 31px;
    }
    .info-image{
        width: 20px;
    }
    .info-image img{
        width: 20px;
    }
    .play img{
        width: 20px;
    }
    .nameSong{
        font-size: 14px;
        padding: 3px 10px;
        max-height: 16px;
        overflow: hidden;
    }
    .artist{
        font-size: 12px;
        padding: 3px 10px;
        max-height: 13px;
        overflow: hidden;
    }
    .like img{
        width: 20px;
    }
}

.like-play{
    gap: 15px;
}

.like{
    cursor: pointer;
}
.lineAfterSongs {
    width: 95%;
    margin: auto;
    height: 1px;
    background-color: rgb(50, 50, 50);
    margin-top: 40px;
}

.list ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list li {
    list-style: none;
    color: var(--logo-color);
    font-size: 14px;
}

.list ul li:first-of-type{
    font-size: 16px;
}

.list ul li a:hover {
    color: white;
}

.extra-links {
    display: grid;
    grid-template-areas: "Company Communities Links Plans OtherPages"
    "line line line line line"
    "copy copy copy copy copy";
    padding: 50px 30px;
    justify-content: space-between;
}

.social-links {
    align-self: flex-start;
}

.social-links ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.social-links ul li {
    padding-top: 10px;
    border-radius: 50%;
    list-style: none;
    background-color: var(--block-color);
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

.social-links ul li:hover {
    background-color: rgb(100, 100, 100);
}

@media only screen and (max-width : 810px) {
    .extra-links{
        grid-template-areas: "Company Communities Links Plans"
        "OtherPages OtherPages OtherPages OtherPages"
        "line line line line"
        "copy copy copy copy";
        row-gap: 10px;
    }
}
@media only screen and (max-width : 650px) {
    .extra-links{
        grid-template-areas: "Company Communities Links"
        "Plans Plans OtherPages"
        "line line line"
        "copy copy copy";
        row-gap: 10px;
    }
    .social-links{
        align-self: flex-end;
    }
}
@media only screen and (max-width : 540px) {
    .extra-links{
        grid-template-areas: "Company Communities"
        "Links Plans"
        "OtherPages OtherPages"
        "line line"
        "copy copy";
        row-gap: 20px;
    }
    .list ul li{
        font-size: 10px;
    }
    .list ul li:first-of-type{
        font-size: 12px;
    }
    .social-links{
        align-self: flex-start;
    }
    .social-links ul li{
        padding-top: 5px;
        padding-bottom: 3px;
        padding-left: 7px;
        padding-right: 7px;
    }
    .social-links ul li img{
        width: 12px;
        height: 12px;
    }
}
@media only screen and (max-width : 400px) {
    .extra-links{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.line {
    grid-area: line;
    height: 1px;
    background-color: rgb(50, 50, 50);
    margin: 20px 0px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    grid-area: copy;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--logo-color);
    font-size: 14px;
}

@media only screen and (max-width : 410px){
    .copyright{
        font-size: 12px;
        gap: 10px;
    }
}
@media only screen and (max-width : 350px){
    .copyright{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}



