:root{
    --background-color: rgb(20, 20, 20);
    --logo-color : rgb(179,179,179);
    --block-color : rgb(36,36,36);
    --font-size : 16px;
    --padding-20 : 20px;
    --font-weight-700 : 700;
    --hover-color-album : rgb(28,28,28);
}
.player-controls{
    height: 77px;
    padding: 0px 5px;
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--block-color);
    border-radius: 15px;
}
.info{
    display: grid;
    grid-template-areas: "info-img song-name"
                         "info-img artist-name";
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.info-image{
    grid-area: info-img;
}
.songname{
    grid-area: song-name;
    align-self: flex-end;
    padding: 5px 15px; 
}
.artist-player{
    padding: 5px 15px;
    font-size: 12px;
    grid-area: artist-name;
    align-self: flex-start;
}
.buttons{
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button-duration{
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.durationPlaybar{
    width: 40vw;
    justify-content: space-between;
    gap: 40px;
}
.duration{
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.volume-bar{
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#disc img{
    position: relative;
    width: 55px;
    height: 63px;
    border-radius: 10px;
    object-fit: cover;
    top: 2px;
}
#seekbar{
    width: 40vw;
    height: 4px;
    background-color: rgba(91, 91, 91, 0.7);
    border-radius: 4px;
    cursor: pointer;
}
#circle{
    position: relative;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    background-color: white;
    transition: width 0.3s;
}
.durationText{
    font-size: 14px;
    color: #b3b3b3;
}