:root{
    --background-color: rgb(20, 20, 20);
    --logo-color : rgb(179,179,179);
    --block-color : rgb(36,36,36);
    --font-size : 16px;
    --padding-20 : 20px;
    --font-weight-700 : 700;
}
body{
    background-color: black;
    margin: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.container{
    display: grid;
    grid-template-areas: "side main"
                         "player player";
}
.side-container{
    width: 22vw;
    margin: 5px;
    border-radius: 10px;
    box-sizing: border-box;
    grid-area: side;
}
.main-container{
    width: calc(100vw - 22.75vw - 20px);
    background-color: var(--background-color);
    margin: 5px;
    border-radius: 10px;
    overflow-y: scroll;
    height: 85.2vh;
    box-sizing: border-box;
    grid-area: main;
}
.home{
    background-color: var(--background-color);
    padding: var(--padding-20);
    border-radius: 10px;
    height: 15vh;
}
.home ul{
    flex-direction: column;
    gap: 20px;
}
.home ul li{
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    font-size: var(--font-size);
    font-weight: var(--font-weight-700);
    list-style: none;
    letter-spacing: 0.5px;
    color: var(--logo-color);
}
.home ul li:hover{
    cursor: pointer;
    color: white;
}
.library{
    background-color: var(--background-color);
    margin-top: 10px;
    border-radius: 10px;
    height: 63.25vh;
}
.yourLibrary{
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-20);
}
.your{
    align-items: center;
    gap: 20px;
    font-weight: var(--font-weight-700);
    color: var(--logo-color);
}
.createPlaylist{
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: var(--block-color);
    margin: 10px;
    border-radius: 10px;
}
.makeButton{
    width: max-content;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: var(--font-weight-700);
    background-color: white;
    transition: transform 0.3s;
}
.makeButton:hover{
    transform: scale(1.05);

}
.easy{
    font-size: 14px;
}
.create{
    font-size: 16px;
    font-weight: var(--font-weight-700);
}
.playlist-podcast{
    flex-direction: column;
    gap: 15px;
    overflow: auto;
    border-radius: 10px;
    box-sizing: border-box;
}
.extra-content{
    flex-direction: column;
    margin-top: 20px;
}
.privacy-cookies ul li{
    list-style: none;
    font-size: 11px;
    color: var(--logo-color);
}
.privacy-cookies ul{
    padding: 5px 24px;
    gap: 20px;
}
.privacy-cookies{
    margin: 10px 0px;
}
.language{
    padding: 24px;
    padding-bottom: 30px;
}
.langButton:hover{
    transform: scale(1.05);
    border: 1px solid white;
}
.langButton{
    gap: 5px;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-weight: var(--font-weight-700);
    border: 1px solid var(--logo-color);
    transition: transform 0.3s;
}



